body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 5px;
    width: 600px;
    height: 600px;
    background-color: dimgrey;
}


.count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: fit-content;
    padding: 0 10px;
    margin: 17px;
    background-color: antiquewhite;}

.count-title {
    font-size: 20px;
    font-weight: bold;
    color: dimgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#count {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: bisque;
    width: 135px;
    height: 135px;
    font-family: sans;
    font-size: 55px;
    font-weight: bold;
    border-radius: 4px;

}

#result {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}